<div class="landing_grin_background">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group input-group-sm">
  
    <%= f.text_field :name, class:'form-control border_grin', placeholder:'Имя'%>
  </div>
  <div class="input-group input-group-sm">
    
    <%= f.text_field :family, class:'form-control border_grin', placeholder:'Фамилия' %>
  </div>
  <div class="input-group input-group-sm">
    
    <%= f.text_field :email_phone, class:'form-control border_grin', placeholder:'email или моб. телефон' %>
  </div>
  <div class="input-group input-group-sm">
    
    <%= f.password_field :password, class:'form-control border_grin', placeholder:'пароль' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

